@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/IRANSansWeb_Black.woff2") format("woff2");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/IRANSansWeb_Bold.woff2") format("woff2");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/IRANSansWeb_Medium.woff2") format("woff2");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/IRANSansWeb_Light.woff2") format("woff2");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/IRANSansWeb_UltraLight.woff2");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/IRANSansWeb.woff2") format("woff2");
}